# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\MyWorkSpace\Design_Patterns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
